@using i18n;
@model WhatYouNeed.Web.Models.LanguageSelectorModel

@if (Model.LanguageList.Count > 0)
{

    <div class="nav-item dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id= "IdLangues" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @Model.DisplayName
        </button>
        <div class="dropdown-menu" aria-labelledby="IdLangues">
            @foreach (var item in Model.LanguageList)
            {
            <a class="dropdown-item" href="@Url.Action("SetLanguage", "Home", new { langtag = item.Culture, returnUrl = Request.Url.PathAndQuery })">@item.DisplayName</a>
            }
         </div>
    </div>

}