<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="5.1.0" targetFramework="net6" />
  <package id="coveralls.io" version="1.4.2" targetFramework="net6" />
  <package id="NUnit" version="3.13.3" targetFramework="net6" />
  <package id="NUnitTestAdapter" version="2.3.0" targetFramework="net6" />
  <package id="OpenCover" version="4.7.1221" targetFramework="net6" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net6" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net6" />
</packages>