

@model WhatYouNeed.Web.Models.ProManageCardsModel

@using GridMvc.Html
@using PagedList.Mvc
@using System.Text.RegularExpressions

@using WhatYouNeed.Web.Utilities
@using WhatYouNeed.Service
@using Microsoft.AspNet.Identity
@using WhatYouNeed.Web.Extensions;


@{
    ViewBag.Title = "Trucs N Trocs";
}


@section Styles {
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link href="~/Content/gridmvc.datepicker.min.css" rel="stylesheet" />
}

<div class="container-fluid" style="background-color:#EAF4D3">
    <div class="mx-auto col-md-9">
        <div class="card">
            <div class="card-header text-center">
                <h4>
                    [[[Manage your Cards]]]
                </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col col-md-3">
                        <div class="align-self-baseline ">
                            <img class="img-fluid" style="width: 100%; height: auto" src="@Model.Prologos.First().Url" />
                        </div>

                    </div>
                    <div class="col col-md-9 align-self-center text-md font-weight-bold">
                        <h5 class="font-weight-bold display-4 text-center">
                            @Html.DisplayFor(m => m.UserAddInf.ProCompany, new { @class = "form-control" })
                        </h5>
                    </div>
                </div>
                <hr />
            </div>
            <div class="row">

                @if (Model.NeedNewCard)
                {
                    <button class="btn btn-primary btn-lg pull-right ml-2 " ><i class="fa fa-newspaper-o"></i> [[[Validate a New Card]]]</button>
                    <h5 class="text-center text-danger ml-4 mt-2">[[[You need a new valid Card to be able to use your full services]]]</h5>
                }
                else
                {
                    <button class="btn btn-primary btn-lg pull-right ml-2 " disabled><i class="fa fa-newspaper-o"></i> [[[Validate a New Card]]]</button>
                    <h5 class="text-center text-success ml-2 mt-2">[[[You have a valid Card active in use]]]</h5>
                }

            </div>

            <div class="row mt-3">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @Html.Grid(Model.CardsSearch.Grid).SetLanguage(Context.GetPrincipalAppLanguageForRequest().ToString()).EmptyText("[[[There are no items to display.]]]").Columns(columns =>
               {

                   columns.Add(x => x.CurrentCard.NumLot).Titled("[[[Batch Number]]]")
                       .RenderValueAs(x => x.CurrentCard.NumLot.ToString());

                   columns.Add(x => x.CurrentCard.NumSerie).Titled("[[[Serial Number]]]")
                       .RenderValueAs(x => x.CurrentCard.NumSerie.ToString());

                   columns.Add(x => x.CurrentCard.Code).Titled("[[[Secret Code]]]")
                       .RenderValueAs(x => Regex.Replace(x.CurrentCard.Code.ToString(), ".{3}", "$0 ") );

                   columns.Add(x => x.DateFirstUse).Titled("[[[First Use]]]")
                       .RenderValueAs(x => x.DateFirstUse.ToShortDateString());

                   columns.Add(x => x.CurrentCard.DateFinValidite).Titled("[[[Validity Max]]]")
                       .RenderValueAs(x => x.CurrentCard.DateFinValidite.ToShortDateString());

                   columns.Add(x => x.CurrentCard.IsActif).Titled("[[[Is Used]]]")
                       .RenderValueAs(x => x.CurrentCard.IsActif.ToString());

               }).Sortable().Filterable().Selectable(false)
                </div>
            </div>
            <div class="card-footer">
            </div>

        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Scripts/gridmvc.min.js"></script>
    @Html.Partial("_LocalizationGridMvc")
}